<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>To-do List</title>
</head>
<body>

    <% if (kindOfDay === "Saturday" || kindOfDay === "Sunday") { %>
        <h1 style="Color: rgba(255, 0, 0, 0.485)"><%= kindOFDay %> ToDo List</h1>
    <% } else { %>
        <h1 style="color: rgb(0, 140, 255)"><%= kindOfDay %> Todo</h1>
    <% } %>

</body>
</html>